html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

canvas {
  margin:auto;
  display: block;
}

h1, h4 {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
}

p {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
}